body {
	font-family: Georgia;
    margin: 0;
	background-color: rgb(255, 251, 220);
}

.wrapper{
    width: 100%;
    /*max-width: 1280px;*/
    padding: 0 auto;
    margin: 0 auto;
}

header nav{
    float: right;
}

img.logo{
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    /*margin-top: 20px;*/
    float: left;
    position: relative;
}
/*.conatiner{
    margin-top: 30px;
}*/

h2{
    height: 0;
    margin: 0;
    font-family: Georgia, cursive;
	color: #00887b;
	font-size: 55px;
	font-weight: 800px;
	text-align: center;
	position: relative;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 10px;
}

.img-responsive{
	border-radius: 50%;
	padding: 0;
	position: relative;
	float: right;
}

.container{
	margin-top: 20px;
}

.container ul li a{
	font-family: Georgia, cursive;
	color: #00887b;
	font-size: 25px;
	font-weight: 600px;
	margin-top: 20px;
	padding-right: 100px;
	position: relative;
}	
}
.nav_nav-tabs{
	padding-left: 20%;
}

.mySlides {
	display:none;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}
.w3-center{
    padding-top: 20px;
}

.mySlides{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar-brand small {
  display:block;
  font-size:35px;
 text-align: center;
}

.navbar-toggle {top:10px}

@media (min-width:768px) {

  .navbar-brand {
    padding-top:20px;
    padding-left: 50px;
    text-align: center;
  }

.navbar-nav{
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
  }

}

#navigation-bar {
    position: relative;
    height: 60px;
}
#search {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}
#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}
#label label:hover {
    background: url("../img/search.png") -60px 0
}
#label.active label {
    background: url("../img/search.png") -60px 0
}
#input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 450px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    display: block;
    position: absolute;
    top: 0;
    left: -450px;
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #23688b;
    color: #fff;
    font-size: 18px;
    backface-visibility: none;
    border-radius: 0;
    transition: left 0;
}
#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    left: 0;
    transition: left 0.3s;
}
#button{
    padding: 5px;
    float: right;
}
nav {
    padding-left: 70px;
    position: relative;
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
nav a {
    display: block;
    padding: 0 15px;
    color: #c8c8c8;
}
nav a:hover {
    color: #3296c8
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

h5{
    color: #00887b;
    padding: 20px;
}