#menuTag
{
	margin-top:15px

}

#menuTag ul
{
	list-style:none;
	position:relative;
	margin: 0;
	padding: 0;
}

#menuTag ul a
{
	display:block;
	color:#607d8b;
	text-decoration:block;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family:Helvetica;
}

#menuTag ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#menuTag ul li.current-menu-item
{
	background:#ddd
}

#menuTag ul li:hover
{
	border: solid;
	color: orange;
}
pre{
	margin-top: 150px;
    margin-left: 30px;
    color: #757575;
}

.background
{
	padding: 40px;
	background-color: #f5f5f5;
}
#pri
{
	color: orange;
}